@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  padding: 1rem 2rem 2rem 2rem;
  background: #f8f8f8;
}

h2 {
  font-size: 28px;
  line-height: 1;
  color: #45aaad;
  margin-bottom: 3% ;
  margin-top: 0%;
}

p {
  font-size: 22px;
  color: #626262;
  margin-bottom: 1%;
}

.welcomeUser {
  font-size: 22px;
  color: #ba5552;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2.5rem 0rem 1.0rem 0rem;
  text-align: center;
  background: #fff;
  border: 2px solid #c9c6c6;
  border-radius: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #45aaad;
}
.uploader label.hover {
  border: 3px solid #45aaad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #626262;
}
.uploader .btn {
  display: inline-block;
  margin: 1.5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  width: 50%;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #45aaad;
  border-color: #45aaad;
  cursor: pointer;
}

.loginbtn {
  display: block;
  height: 5%;
  margin-bottom: 4%;
  border-bottom: 1px solid #ccc;
}

.loginbtn .left a {
  text-decoration: none;
  float: left;
  color: #45aaad;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 20px;
}

.loginbtn .right a {
  text-decoration: none;
  float: right;
  color: #45aaad;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 20px;
}

/* Start Login Page */
.login-form {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-top: 6%;
  width: 75%;
}
.login-form input {
  clear: both;
  width: 100%;
  padding: 1rem;
  margin-bottom: 3%;
  text-align: center;
  border-radius: 7px;
  border: 2px solid #c9c6c6;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-form input:hover {
  border-color: #45aaad;
}
.login-form input.hover {
  border: 3px solid #45aaad;
  box-shadow: inset 0 0 0 6px #eee;
}
/* End Login Page */



/* Start Footer */
footer {
  text-align: center;
  width: 98%;
  position:absolute;
  bottom:0;
}

footer p {
	color: #888;
	font-size: 14px;
	letter-spacing: .4px;
}
/* End Footer */


/* Start Tabs */
.tab {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  border: 2px solid #c9c6c6;
  border-radius: 3px;
  border-bottom: none;
  background-color: #f8f8f8;
}

.tab button {
  font-family: "Roboto", sans-serif;
  flex-grow: 10;
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  border-radius: 3px;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #45aaad;
}

.tabcontent {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: none;
  font-size: 16px;
}

.malwareName {
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
/* End Tabs */
